.u-section-1 .u-sheet-1 {
  min-height: 140px;
}

.u-section-1 .u-menu-1 {
  margin: 52px 0 0 auto;
}

.u-section-1 .u-nav-3 {
  font-size: 1.25rem;
}

.u-section-1 .u-image-1 {
  width: 230px;
  height: 60px;
  margin: -48px auto 40px 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 793px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 0;
  }
} .u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 815px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 676px;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 60px 30px;
}

.u-section-2 .u-icon-1 {
  height: 67px;
  width: 67px;
  margin: 1px auto 0;
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 13px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 676px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-2 .u-table-1 {
  width: 350px;
  margin: 0 auto;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.5625rem;
}

.u-section-2 .u-table-cell-3 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-4 {
  background-image: none;
}

.u-block-9058-39 {
  background-image: none;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 37px auto 53px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-2 .u-icon-1 {
    padding: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 557px;
  }

  .u-section-2 .u-table-1 {
    width: 440px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-table-1 {
    width: 330px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-table-1 {
    width: 320px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }
} .u-section-3 {
  min-height: 318px;
}

.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 46px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 676px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-3 .u-table-1 {
  width: 331px;
  margin: 0 auto;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.5625rem;
}

.u-section-3 .u-table-cell-3 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-table-cell-4 {
  background-image: none;
}

.u-block-63ee-39 {
  background-image: none;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 676px;
}

.u-section-3 .u-container-layout-2 {
  padding: 13px 0;
}

.u-section-3 .u-icon-1 {
  height: 67px;
  width: 67px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 13px auto 0;
}

.u-section-3 .u-line-1 {
  width: 912px;
  margin: 531px auto 0 -266px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 557px;
  }

  .u-section-3 .u-table-1 {
    width: 440px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-3 .u-icon-1 {
    padding: 10px;
  }

  .u-section-3 .u-line-1 {
    width: 627px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-table-1 {
    width: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-line-1 {
    width: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-table-1 {
    width: 320px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }
} .u-section-4 {
  min-height: 318px;
}

.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 46px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 676px;
}

.u-section-4 .u-container-layout-1 {
  padding: 15px 60px 30px;
}

.u-section-4 .u-icon-1 {
  height: 67px;
  width: 67px;
  margin: 1px auto 0;
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 13px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 676px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-4 .u-table-1 {
  width: 356px;
  margin: 0 auto;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.5625rem;
}

.u-section-4 .u-table-cell-3 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-4 .u-table-cell-4 {
  background-image: none;
}

.u-block-195a-39 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-4 .u-icon-1 {
    padding: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 557px;
  }

  .u-section-4 .u-table-1 {
    width: 440px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-table-1 {
    width: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-table-1 {
    width: 320px;
  }
}


/* Chart */
.containerChart {
	position: relative;
	width: 100%;
	margin: auto;
  padding-top: 25px;

}

#myChart {
	border: 1px solid rgb(227, 45, 45);
	border-radius: 10px;
  background-color: white;
}

#myChart1 {
	border: 1px solid #0c8d0a;
	border-radius: 10px;
  background-color: white;
 
}

